@import 'variable.scss';
@import '../../node_modules/swiper/dist/css/swiper.min.css';

@font-face{
    font-family: CoreSansExtraLight;
    src: url(../fonts/CoreSansG-ExtraLight.ttf)
}

$testfont: CoreSansExtraLight;

*{
    margin: 0;
    padding: 0;
}

h1{
    color: $test;
    display: flex;
    font-family: $testfont;
}
img{
    width: 100%;
}

h2{
    color: red;
}

.root{
    background-image: url(../img/6land.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}
